body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
  }
  
  nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 40px;
  }
  
  hr {
    border: none;
    border-top: 1px solid rgb(211, 19, 19);
    margin: 10px 0;
  }
  